li {
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: #ffffffcc;
    &:hover{
      color: white;
  }
  }
  text-align: center;
}
.router-link-active {
  background-color: #3078FF;
  color: white;
}
